/* Variables */
:root {
    --default-padding: 15px;
    --primary-color: #0066a1;
    --secondary-color: #e26d00;
    --text-color-light: #767676;
    --text-color-dark: #0f204b;
    --ribbon-bg-color: purple;
    --ribbon-text-color: #fff;
    --max-width-large: 1024px;
    --max-width-medium: 600px;
    --max-width-small: 480px;
}

/* Estilo por defecto */
* {
    box-sizing: border-box;
}

body {
    font: 14px/1.57 Tahoma;
    padding: 0;
    margin: 0;
}

.ph-body-copy-03 {
    font-size: 12px;
    line-height: 18px;
}

.ph-bold {
    font-weight: bold;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Toggleables */
.toggleables {
    background-color: #eee;
    border-bottom: 2px solid #000;
    margin-bottom: var(--default-padding);
    padding: var(--default-padding);
    text-align: center;
}

.toggleables button {
    background-color: var(--secondary-color);
    border: 0;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    padding: 6px 10px;
}

/* Eliminar bloques innecesarios */
.ph-product-card__compare,
.ph-product-card__ribbon,
.ph-product-card__subscription,
.ph-product-card__features,
.ph-product-card__previous-price {
    display: none;
}

/* Contenedor de producto */
.ph-product-card__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
}

@media (max-width: var(--max-width-large)) {
    .ph-product-card__wrapper {
        width: 100%;
    }
}

/* Card de producto */
.ph-product-card {
    box-shadow: none;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--default-padding);
    position: relative;
    transition: box-shadow 300ms ease;
    width: calc(100% / 6);
}

@media (max-width: var(--max-width-large)) {
    .ph-product-card {
        width: calc(100% / 3);
    }
}

/* Estilo para imágenes dentro de la tarjeta de producto */
.ph-product-card__image {
    max-width: 100%;
    height: auto;
}

/* Texto */
.ph-product-card__title {
    &:after {
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.ph-product-card__ctn {
    color: var(--text-color-light);
}

.ph-product-card__subscription {
    color: var(--text-color-dark);
    padding: 5px 0;
    text-shadow: 0 0 4px rgba(0, 0, 0, .2), 0 0 60px rgba(0, 0, 0, .4);
}

.ph-product-card__features {
    padding-left: var(--default-padding);
}

.ph-product-card__prices {
    text-align: right;
}

.ph-product-card__previous-price {
    color: var(--text-color-light);
    text-decoration: line-through;
}

.ph-product-card__ctas {
    position: relative;
}

.ph-product-card__main-cta {
    background: var(--secondary-color);
    border-radius: 2px;
    color: #fff;
    display: block;
    min-width: 150px;
    padding: 4px;
    text-align: center;
    width: 100%;
}

.ph-product-card__secondary-cta {
    color: var(--primary-color);
    display: block;
    text-align: center;
}

/* Responsive */
.ph-product-card--wide {
    max-width: calc(100% / 3);
    width: calc(100% / 3);
}

@media (max-width: var(--max-width-medium)) {
    .ph-product-card--wide {
        width: calc(100% / 2);
    }
}

@media (max-width: var(--max-width-small)) {
    .ph-product-card--wide {
        width: 100%;
    }
}
