<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Casino Error</title>
</head>
<body>
<h1>Error</h1>
<dl>
    <dt>timestamp</dt>
    <dd><span th:text="${timestamp}"></span></dd>

    <dt>path</dt>
    <dd><span th:text="${path}"></span></dd>

    <dt>status</dt>
    <dd><span th:text="${status}"></span></dd>

    <dt>exception</dt>
    <dd><span th:text="${exception}"></span></dd>

    <dt>message</dt>
    <dd><span th:text="${message}"></span></dd>

    <dt>error</dt>
    <dd><span th:text="${error}"></span></dd>

    <dt>errors</dt>
    <dd><span th:text="${errors}"></span></dd>

    <dt>trace</dt>
    <dd><span th:text="${trace}"></span></dd>

</dl>
</body>
</html>