<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <style>
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .container {
            display: block;
            position: relative;
            cursor: pointer;
            user-select: none;
        }

        .container svg {
            position: relative;
            top: 0;
            left: 0;
            height: 50px;
            width: 50px;
            transition: all 0.3s;
            fill: #666;
        }

        .container svg:hover {
            transform: scale(1.1);
        }

        .container input:checked ~ svg {
            fill: #E3474F;
        }
    </style>
    <title>Game Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.cdnfonts.com/css/casino" rel="stylesheet">
</head>
<script>
    console.log("Cabecera cargada correctamente");
</script>
<body>

<div class="transparent-container" th:if="${user != null and user.getUserName() != null}">
    <div class="template">
        <div
                tabindex="0"
                class="popup button"
                style="padding:0 0.225rem  0; border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;"
        >
            <div class="popup-header">
                <p
                        style="letter-spacing: 1px; font-weight: 600;   padding: 0.625rem 0rem 0.625rem 0.825rem;"
                        th:text="${user.getUserName()}"
                >
                    User
                </p>

                <img src="/images/casino-chip-sign-card-icon-simple-style-vector.jpg" alt="Foto de perfil"
                     style="height: 32px; width: 32px; border-radius: 50%;">
            </div>

            <div class="popup-main">
                <ul class="list-box">
                    <li class="button item" onclick="location.href='/user'">Mi zona</li>
                    <li class="button item">
                        Saldo: <span th:text="${user.getMoney()}"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <button class="Btn" onclick="location.href='/logout'">

        <div class="sign">
            <svg viewBox="0 0 512 512">
                <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
            </svg>
        </div>

        <div class="text">Logout</div>
    </button>
</div>
<div class="gold-text-container">
    <div class="gold-text">
        <h1>Casino La Miel</h1>
    </div>
</div>
<div id="container">
    <nav class="navbar">
        <ul class="menu">
            <button role="button" class="golden-button" onclick="location.href='/'">
                <span class="golden-text">INICIO</span>
            </button>
            <button role="button" class="golden-button" onclick="location.href='/NGames'">
                <span class="golden-text">NUESTROS JUEGOS</span>
            </button>
            <button role="button" class="golden-button" onclick="location.href='/prizes'">
                <span class="golden-text">RECOMPENSAS</span>
            </button>
            <th:block th:if="${user == null}">
                <button role="button" class="golden-button" onclick="location.href='/login'">
                    <span class="golden-text">LOGIN</span>
                </button>
            </th:block>
        </ul>
    </nav>

    <main>
        <div class="game-details-container" th:if="${game != null}">
            <div class="game-card">
                <div class="game-image-container">
                    <img th:if="${game.image}" th:src="@{/game/{id}/image(id=${game.id})}" alt="Game Img" class="game-image">
                </div>
                <div class="game-info">
                    <h1 class="game-title" th:if="${game != null}" th:text="${game.title}">Game Title</h1>
                    <p class="game-description" th:if="${game != null}" th:text="${game.description}">Game description</p>
                    <div class="betting-info">
                        <div class="bet-limit">
                            <span class="bet-label">Apuesta Mínima:</span>
                            <span class="bet-value" th:if="${game != null}" th:text="${game.minInput}+'$'">0</span>
                        </div>
                        <div class="bet-limit">
                            <span class="bet-label">Probabilidad:</span>
                            <span class="bet-value" th:text="${game.chance}+'%'">0</span>
                        </div>
                        <div class="bet-limit">
                            <span class="bet-label">Multiplicador:</span>
                            <span class="bet-value" th:text="'x'+${game.multiplier}">0</span>
                        </div>
                        <form th:if="${game != null and user != null and user.getUserName() != null and !#lists.contains(user.getGamesLiked(), game)}"
                              th:action="@{/user/favourites/add/{id}(id=${game.id})}" method="post">
                            <label class="container">
                                <input type="checkbox" name="id" th:value="${game.id}" onchange="this.form.submit()">
                                <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve"
                                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z"></path>
        </svg>
                            </label>
                        </form>
                        <form th:if="${user != null and user.userName != null and #lists.contains(user.gamesLiked,game)}"
                              th:action="@{/user/favourites/remove/{id}(id=${game.id})}" method="post">
                            <label class="container">
                                <input type="checkbox" name="id" th:value="${game.id}" onchange="this.form.submit()"
                                       checked>
                                <input type="hidden" name="id" th:value="${game.id}">
                                <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve"
                                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z"></path>
        </svg>
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="error-message" th:if="${game == null}">
            <h2>Game not found</h2>
            <p>The requested game could not be found.</p>
            <button role="button" class="golden-button" onclick="location.href='/NGames'">
                <span class="golden-text">BACK TO GAMES</span>
            </button>
        </div>
        <center>
            <form th:if="${game != null and user != null and user.userName != null}"
                  th:action="@{/playGame/{id}(id=${game.id})}" method="post">
            <label for="playedAmount"></label>
                <input type="number" id="playedAmount" name="playedAmount" min="0" max="2147483647" oninput="validity.valid||(value='');" required>
                <button class="golden-button" type="submit">Jugar</button>
            </form>
            <div th:if="${errorMessage}" class="alert alert-danger" role="alert" style="color: crimson">
                <span th:text="${errorMessage}"></span>
            </div>
            <h1 th:if="${status == false and status!=null}" style="color: crimson">Has perdido</h1>
            <h1 th:if="${status == true and status!=null}" style="color: #4caf50">¡Has Ganado!</h1>
        </center>
    </main>

    <footer class="footer">
        <p>Copyright &copy; Casino La Miel | Design by Rústico González</p>
    </footer>
</div>
</body>
</html>