<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Casino La Miel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.cdnfonts.com/css/casino" rel="stylesheet">
</head>
<body>
<div class="gold-text-container">
    <div class="gold-text">
        <h1>Casino La Miel</h1>
    </div>
</div>
<div id="container">
    <nav class="navbar">
        <ul class="menu">
            <button role="button" class="golden-button" onclick="location.href='/'">
                <span class="golden-text">INICIO</span>
            </button>
            <button role="button" class="golden-button" onclick="location.href='/NJuegos'">
                <span class="golden-text">NUESTROS JUEGOS</span>
            </button>
            <button role="button" class="golden-button" onclick="location.href='/prizes'">
                <span class="golden-text">RECOMPENSAS</span>
            </button>
            <button role="button" class="golden-button" onclick="location.href='/login'">
                <span class="golden-text">LOGIN</span>
            </button>
            <button role="button" class="golden-button" onclick="location.href='/register'">
                <span class="golden-text">REGISTER</span>
            </button>
        </ul>
    </nav>
    <center>
        <img src="/images/borje_saul.jpg" alt="Logo" width="300" height="270" id="logo"/>
        <img src="/images/vino.jpg" alt="Slogan" width="300" height="270" id="slogan"/>
    </center>
</div>
<center>
    <div id="content">
        <div id="leftPan">
            <div id="welcome">
                <h2></h2>
                <img src="/images/crupier.jpg" width="300" height="255" alt="" />
                <p><span class="headline">El casino online ya está aquí!</span><br />
                    Ahora puedes satisfacer tus ganas de más desde la comodidad de tu sofá! Apuesta el dinero de la pensión de tu madre ya!</p>
                <div class="clear"></div>
            </div>
            <div id="popular">
                <h2></h2>
                <div class="popularItem" id="l1"> <img src="/images/neymar.jpg" width="300" height="255" alt="" />
                    <p><span class="headline">Tus ídolos también juegan! </span><br />
                        Puede que neymar nunca ganase un mundial, pero si que es un claro GANADOR cuando se trata de la tricolor. </p>
                    <div class="clear"></div>
                </div>
                <div class="popularItem" id="r1"> <img src="/images/meci%20y%20cristiano.jpg" width="300" height="255" alt="" />
                    <p><span class="headline">Juega de forma justa, </span><br />
                        Mepsy y cristiano ahora se dejan el dinero en los brillantes colores de las tragaperras. ¿A qué esperas? </p>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="rightPan">
            <div id="how">
                <h2></h2>
                <img src="/images/laporta.jpg" width="300" height="255" alt="" />
                <p><span class="headline">Esencialmente, siempre tienes un 50% de probabilidades de ganar; o ganas o pierdes </span><br />
                    <br />
                    La vida solo es una, metele 5 eurillos que mañana tampoco te ibas a acordar (o si!)</p>
            </div>
        </div>
        <div class="clear" id="end"></div>
    </div>
</center>
<footer class="footer">
    <p>Copyright &copy; Casino La Miel | Design by Rústico González</p>
</footer>
</div>
</body>
</html>