<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de juegos</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>

<header>
    <div id="TitulosJuegos">
    <h1>Juegos disponibles</h1>
    <p>Elige entre la emoción del crash, la elegancia de la ruleta o la experiencia clásica de los slots</p>
    <img src="/images/luigiapuestas.jpg" alt="Luigi" width="190" height="190" id="Luigi"/>
    </div>
</header>

<main>
    <div id="IzquierdaJuegos">
    <section>
        <h2>Crash</h2>
        <img src="/images/crashgame.jpg" alt="crash" width="190" height="190" id="crash">
        <p>Un emocionante juego para darnos todo tu dinero, o hincharte como un cerdo</p>
        <a href="crash">
            <button role="button" class="golden-button">
                <span class="golden-text">Crash</span>
            </button>
        </a>
    </section>
    </div>
    <div id="CentroJuegos">
    <section>
        <h2>Ruleta</h2>
        <img src="/images/Ssegura.jpg" alt="ruleta" width="190" height="190" id="ruleta">
        <p>Como en los casinos de las vegas, solo que aqui no ofrecemos bebidas gratis</p>
        <a href="rule">
            <button role="button" class="golden-button">
                <span class="golden-text">Ruleta</span>
            </button>
        </a>
    </section>
    </div>
    <div id="DerechaJuegos">
    <section>
        <h2>Slots</h2>
        <img src="/images/iniesta.jpg" alt="slots" width="190" height="190" id="slots">
        <p>Te sentirás como tu tío ernesto, con un carajillo y 100 pavos menos en la cuenta. Pero, ¿Y si sí?</p>
        <a href="slots">
            <button role="button" class="golden-button">
                <span class="golden-text">Slots</span>
            </button>
        </a>
    </section>
    </div>
</main>

<footer>
    <div id="footer">
        <p>
            Copyright &copy; Casino La Miel | Design by Rústico González</p>
    </div>
</footer>

</body>
</html>
