<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de juegos</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>

<header>
    <h1>Juegos disponibles</h1>
    <p>Elige entre la emoción del crash, la elegancia de la ruleta o la experiencia clásica de los slots</p>
</header>

<main>
    <section>
        <h2>Crash</h2>
        <p>Un emocionante juego para darnos todo tu dinero, o hincharte como un cerdo</p>
        <button>Jugar Crash</button>
    </section>
    <section>
        <h2>Ruleta</h2>
        <p>Como en los casinos de las vegas, solo que aqui no ofrecemos bebidas gratis</p>
        <button>Jugar a la Rule</button>
    </section>
    <section>
        <h2>Slots</h2>
        <p>Te sentirás como tu tío ernesto, con un carajillo y 100 pavos menos en la cuenta. Pero, ¿Y si sí?</p>
        <button>Jugar a los Slots</button>
    </section>
</main>

<footer>
    <p>Casino La Miel</p>
</footer>

</body>
</html>
