<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Our Games</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.cdnfonts.com/css/casino" rel="stylesheet">
</head>
<body>
<div class="gold-text-container">
    <div class="gold-text">
        <h1>Casino La Miel</h1>
    </div>
</div>
<div id="container">
    <nav class="navbar">
        <ul class="menu">
            <button role="button" class="golden-button" onclick="location.href='/'">
                <span class="golden-text">INICIO</span>
            </button>
            <button role="button" class="golden-button" onclick="location.href='/NJuegos'">
                <span class="golden-text">NUESTROS JUEGOS</span>
            </button>
            <button role="button" class="golden-button" onclick="location.href='/rewards'">
                <span class="golden-text">RECOMPENSAS</span>
            </button>
            <button role="button" class="golden-button" onclick="location.href='/login'">
                <span class="golden-text">LOGIN</span>
            </button>
            <button role="button" class="golden-button" onclick="location.href='/register'">
                <span class="golden-text">REGISTER</span>
            </button>
        </ul>
    </nav>

    <header>
        <div id="TitulosJuegos">
            <h1>Nuestros premios</h1>
            <p>Escoge entre nuestros exóticos premios que podrás reclamar a través de el balance de tu cartera.</p>
            <img src="/images/rick_dinero.jpg" alt="rick" width=681 height=511 id="rick"/>
        </div>
    </header>

    <main>
        <div id="grid-container">
            <section class="game-section">
                <h2>Iphone</h2>
                <img src="/images/iphone16.jpg" alt="crash" width="190" height="190" id="crash">
                <p>El iphone 16 para poder seguir apostando en máxima calidad</p>
                    <button role="button" class="golden-button" onclick="anadirAlcarrito('slots')>
                        <span class="golden-text">Añadir al carro</span>
                    </button>
            </section>

            <section class="game-section">
                <h2>Crocs del rayo</h2>
                <img src="/images/crocs_rayo.jpg" alt="ruleta" width="190" height="190" id="ruleta">
                <p>Activa el modo "sport" y despista a los azules</p>
                    <button role="button" class="golden-button" onclick="añadirAlCarrito('slots')>
                        <span class="golden-text">Añadir al carro</span>
                    </button>
            </section>

            <section class="game-section">
                <h2>Viaje a albacete para 2 personas</h2>
                <img src="/images/albacete.jpg" alt="slots" width="190" height="190" id="albacete">
                <p>Disfruta con tu shawty de la españa antigua en una lujosa pensión de 2 estrellas</p>
                    <button role="button" class="golden-button" onclick="anadirAlcarrito('slots')>
                        <span class="golden-text">Añadir al carro</span>
                    </button>
            </section>
            <section class="game-section">
                <h2>AWP Dragon Lore</h2>
                <img src="/images/awp_lore.png" alt="slots" width="190" height="190" id="awp">
                <p>Demuestrale a tu tío Ernesto que un arma virtual vale más que su Opel Corsa</p>
                    <button role="button" class="golden-button" onclick="anadirAlcarrito('slots')>
                        <span class="golden-text">Añadir al carro</span>
                    </button>
            </section>
            <section class="game-section">
                <h2>Conoce a chiquibai</h2>
                <img src="/images/chiquibai.jpg" alt="slots" width="190" height="190" id="chiquibai">
                <p>Cumple tu sueño de conocer al mayor influyente de masas de la era moderna</p>
                    <button role="button" class="golden-button" onclick="anadirAlcarrito('slots')>
                        <span class="golden-text">Añadir al carro</span>
                    </button>
            </section>
            <section class="game-section">
                <h2>Cena para dos provolone</h2>
                <img src="/images/provolone.jpg" alt="slots" width="190" height="190" id="provolone">
                <p>Haz caso al gallego más selecto y disfruta de una cena inolvidable</p>
                    <button role="button" class="golden-button" onclick="anadirAlcarrito('slots')>
                        <span class="golden-text">Añadir al carro</span>
                    </button>
            </section>
            <section class="game-section">
                <h2>Pack premium</h2>
                <img src="/images/pack_cigarro_tabaco.png" alt="slots" width="190" height="190" id="pack">
                <p>Ibamos a incluir café-cigarro, pero preferimos a las rubias que a las morenas (las bebidas claro)</p>
                    <button role="button" class="golden-button" onclick="anadirAlcarrito('slots')>
                        <span class="golden-text">Añadir al carro</span>
                    </button>
            </section>
            <section class="game-section">
                <h2>Key Buscaminas PC</h2>
                <img src="/images/buscaminas.jpeg" alt="slots" width="190" height="190" id="buscaminas">
                <p>Rebasa a la plebe y presume de tu juego más puntero</p>
                    <button role="button" class="golden-button" onclick="anadirAlcarrito('slots')>
                        <span class="golden-text">Añadir al carro</span>
                    </button>
            </section>
            <section class="game-section">
                <h2>Cheque Cafetería Ramiro</h2>
                <img src="/images/cafeteria%20ramiro.jpg" alt="slots" width="190" height="190" id="ramiro">
                <p>Bocata lomo ya</p>
                    <button role="button" class="golden-button" onclick="anadirAlcarrito('slots')>
                        <span class="golden-text">Añadir al carro</span>
                    </button>
            </section>
        </div>
    </main>


    <footer class="footer">
        <p>Copyright &copy; Casino La Miel | Design by Rústico González</p>
    </footer>
</div>
</body>
</html>