<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>roulette game</title>
  <link rel="stylesheet" href="/css/rule.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="rouletteContainer">
  <div id="history"></div>
  <br><br>
  <div id="roulette" class="roulette"><div class="arrow"></div></div>
  <div class="progress" id=time></div>
  
  <div id="result"></div>
  
  <div id="money"></div>
  <input type="number" placeholder="Bet size" id=betInput><br>
  <div class="bet">
    <button class="betBtn redBtn" onclick='bet("r",this);'>Red</button>
  </div>
  <div class="bet">
    <button class="betBtn greenBtn" onclick='bet("g",this);'>Green</button>
  </div>
  <div class="bet">
    <button class="betBtn blackBtn" onclick='bet("b",this);'>Black</button>
  </div>
</div>
<div id="chat"></div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script><script  src="/js/rule.js"></script>

</body>
</html>
