<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.cdnfonts.com/css/casino" rel="stylesheet">
    <title>Panel de Administrador</title>
</head>
<body>
<div class="transparent-container">
    <div class="template">
        <div
                tabindex="0"
                class="popup button"
                style="padding:0 0.225rem  0; border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;"
        >
            <div class="popup-header">
                <p
                        style="letter-spacing: 1px; font-weight: 600; padding: 0.625rem 0rem 0.625rem 0.825rem;"
                        th:text="${user.userName()}"
                >
                    Admin
                </p>
                <img src="/images/CasinoLaMielLogo.png" alt="Foto admin"
                     style="height: 32px; width: 32px; border-radius: 50%;">
            </div>

            <div class="popup-main">
                <ul class="list-box">
                    <li class="button item" onclick="location.href='/user'">Mi zona</li>
                    <li class="button item">
                        Saldo: <span th:text="${user.money()}"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <button class="Btn" onclick="location.href='/logout'">

        <div class="sign">
            <svg viewBox="0 0 512 512">
                <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
            </svg>
        </div>

        <div class="text">Logout</div>
    </button>
</div>

<div class="gold-text-container">
    <div class="gold-text">
        <h1>Casino La Miel</h1>
    </div>
</div>

<div id="container">
    <nav class="navbar">
        <ul class="menu">
            <li>
                <button role="button" class="golden-button" onclick="location.href='/'">
                    <span class="golden-text">INICIO</span>
                </button>
                <button role="button" class="golden-button" onclick="location.href='/NGames'">
                    <span class="golden-text">NUESTROS JUEGOS</span>
                </button>
                <button role="button" class="golden-button" onclick="location.href='/prizes'">
                    <span class="golden-text">RECOMPENSAS</span>
                </button>
                <button role="button" class="golden-button" onclick="location.href='/admin'">
                    <span class="golden-text">ADMIN PANEL</span>
                </button>
            </li>
        </ul>
    </nav>
</div>

<div id="Welcome">
    <h1 class="golden-subtitle">Hola, admin: <span th:text="${user.userName()}"></span></h1>
    <p>Desde aquí puedes gestionar a los usuarios del sistema.</p>
</div>
<div th:if="${errorMessage}" class="alert alert-danger" role="alert" style="color: crimson">
    <span th:text="${errorMessage}"></span>
</div>

<div class="backpack">
    <div id="grid-container">
        <section class="game-section" th:each="user : ${userList}">
            <h2 th:text="${user.userName()}"></h2>
            <p>Saldo: <span th:text="${user.money()}"></span> $</p>
            <div th:if="${user.documentPath() != null and !#strings.isEmpty(user.documentPath())}">
                <button role="button"
                        class="golden-button"
                        th:onclick="|window.open('/users/${user.id}/view-document', '_blank')|">
                    <span class="golden-text">Ver documento</span>
                </button>
            </div>
            <form th:action="@{'/admin/userInventory/' + ${user.id()}}" th:if="${!user.inventory().isEmpty()}"
                  method="get">
                <button role="button" class="golden-button">
                    <span class="golden-text">Ver su inventario</span>
                </button>
            </form>
            <form th:action="@{'/updateUserAdmin/' + ${user.id()}}" method="get">
                <button role="button" class="golden-button">
                    <span class="golden-text">Gestionar usuario</span>
                </button>
            </form>
            <form th:action="@{'/deleteUser/' + ${user.id()}}" method="post">
                <input type="hidden" name="csrfToken" th:value="${csrfToken}">
                <button type="submit" class="golden-button">Eliminar Usuario</button>
            </form>
        </section>
    </div>
</div>
</body>
</html>
