<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar recompesa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.cdnfonts.com/css/casino" rel="stylesheet">
</head>
<body>
<div class="gold-text-container">
    <div class="gold-text">
        <h1>Casino La Miel</h1>
    </div>
</div>
<div id="container">
    <nav class="navbar">
        <ul class="menu">
            <button role="button" class="golden-button" onclick="location.href='/'">
                <span class="golden-text">INICIO</span>
            </button>
            <button role="button" class="golden-button" onclick="location.href='/NJuegos'">
                <span class="golden-text">NUESTROS JUEGOS</span>
            </button>
            <button role="button" class="golden-button" onclick="location.href='/prizes'">
                <span class="golden-text">RECOMPENSAS</span>
            </button>
            <button role="button" class="golden-button" onclick="location.href='/login'">
                <span class="golden-text">LOGIN</span>
            </button>
        </ul>
    </nav>

    <header>
        <div id="TitulosJuegos">
            <h1>Edita la recompensa</h1>
            <p>Modifica el formulario para editar la recompensa seleccionada.</p>
        </div>
    </header>

    <main>
        <div id="add-game-form">
            <form th:action="@{/updatePrize/{id}(id=${prize.getId()})}" th:object="${prize}" method="post" enctype="multipart/form-data">
                <div>
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" th:field="*{title}" required>
                </div>
                <div>
                    <label for="description">Descripción:</label>
                    <input type="text" id="description" th:field="*{description}" required>
                </div>
                <div class="mb-3">
                    <label for="imageFile">Imagen:</label>
                    <img th:src="${prize.getImage()}" height="35%" width="35%">
                    <input type="file" class="form-control" id="imageFile" name="imageFile" accept="image/*">
                </div>
                <div>
                    <label for="minAge">Precio del producto:</label>
                    <input type="number" id="minAge" th:field="*{price}" required>
                </div>
                <div>
                    <button type="submit" class="golden-button">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </main>

    <footer class="footer">
        <p>Copyright &copy; Casino La Miel | Design by Rústico González</p>
    </footer>
</div>
</body>
</html>