<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Our Games</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.cdnfonts.com/css/casino" rel="stylesheet">
</head>
<body>
<div class="user-info">
    <p>Usuario: <span th:text="${user.getUserName()}">Usuario</span></p>
    <p>Dinero: <span th:text="${user.getMoney()}">Dinero</span></p>
</div>
<div class="gold-text-container">
    <div class="gold-text">
        <h1>Casino La Miel</h1>
    </div>
</div>
<div id="container">
    <nav class="navbar">
        <ul class="menu">
            <button role="button" class="golden-button" onclick="location.href='/'">
                <span class="golden-text">INICIO</span>
            </button>
            <button role="button" class="golden-button" onclick="location.href='/NJuegos'">
                <span class="golden-text">NUESTROS JUEGOS</span>
            </button>
            <button role="button" class="golden-button" onclick="location.href='/prizes'">
                <span class="golden-text">RECOMPENSAS</span>
            </button>
            <button role="button" class="golden-button" onclick="location.href='/add'">
                <span class="golden-text">NUEVO JUEGO</span>
            </button>
            <button class="Btn" onclick="location.href='/logout'">

                <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>

                <div class="text">Logout</div>
            </button>
        </ul>
    </nav>

    <header>
        <div id="TitulosJuegos">
            <h1>Nuestros Juegos</h1>
            <h2>Disfruta <span th:text="${user.getUserName()}">Usuario</span> </h2>
            <p>Elige entre la emoción del crash, la elegancia de la ruleta o la experiencia clásica de los slots</p>
            <img src="/images/luigiapuestas.jpg" alt="Luigi" width=681 height=511 id="Luigi"/>
        </div>
    </header>

    <main>
        <div id="grid-container">
            <section class="game-section" th:each="game : ${games}">
                <h2 th:text="${game.title}"></h2>
                <p th:text="${game.description}"></p>
                <img th:if="${game.image}" th:src="${game.image}" alt="Imagen del juego" class="game-image"/>
                <form th:action="@{/delete/{id}(id=${game.id})}" method="post">
                    <button type="submit">Eliminar Juego</button>
                </form>
            </section>
        </div>
    </main>

    <footer class="footer">
        <p>Copyright &copy; Casino La Miel | Design by Rústico González</p>
    </footer>
</div>
</body>
</html>