<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Our Games</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.cdnfonts.com/css/casino" rel="stylesheet">
</head>
<body>
<div class="transparent-container">
    <div class="template">
        <div
                tabindex="0"
                class="popup button"
                style="padding:0 0.225rem  0; border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;"
        >
            <div class="popup-header">
                <p
                        style="letter-spacing: 1px; font-weight: 600;   padding: 0.625rem 0rem 0.625rem 0.825rem;"
                        th:text="${user.username}"
                >
                    User
                </p>

                <img src="/images/casino-chip-sign-card-icon-simple-style-vector.jpg" alt="Profile picture"
                     style="height: 32px; width: 32px; border-radius: 50%;">
            </div>

            <div class="popup-main">
                <ul class="list-box">
                    <li class="button item" onclick="location.href='/user'">Mi zona</li>
                    <li class="button item">
                        Saldo: <span th:text="${user.balance}"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <button class="Btn" onclick="location.href='/logout'">

        <div class="sign">
            <svg viewBox="0 0 512 512">
                <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
            </svg>
        </div>

        <div class="text">Logout</div>
    </button>
</div>
<div class="gold-text-container">
    <div class="gold-text">
        <h1>Casino La Miel</h1>
    </div>
</div>
<div id="container">
    <nav class="navbar">
        <ul class="menu">
            <button role="button" class="golden-button" onclick="location.href='/'">
                <span class="golden-text">INICIO</span>
            </button>
            <button role="button" class="golden-button" onclick="location.href='/NGames'">
                <span class="golden-text">NUESTROS JUEGOS</span>
            </button>
            <button role="button" class="golden-button" onclick="location.href='/prizes'">
                <span class="golden-text">RECOMPENSAS</span>
            </button>
            <button role="button" class="golden-button" onclick="location.href='/addPrize'">
                <span class="golden-text">NUEVA RECOMPENSA</span>
            </button>
        </ul>
    </nav>

    <header>
        <div id="GameTitles">
            <h1>Nuestros premios</h1>
            <p>Escoge entre nuestros exóticos premios que podrás reclamar a través de el balance de tu cartera.</p>
            <img src="/images/rick_dinero.jpg" alt="rick" width=681 height=511 id="rick"/>
        </div>
        <center>
        <div th:if="${errorMessage}" class="alert alert-danger" role="alert" style="color: crimson">
            <span th:text="${errorMessage}"></span>
        </div>
        </center>
    </header>

    <main>
        <form th:action="@{/filterPrizes}" method="post" class="prize-filter-form">
            <div class="filter-container">
                <input type="text" name="title" th:value="${title}" placeholder="Título" class="filter-input">
                <input type="number" name="minPrice" th:value="${minPrice}" placeholder="Precio mínimo" class="filter-input">
                <input type="number" name="maxPrice" th:value="${maxPrice}" placeholder="Precio máximo" class="filter-input">
                <div class="filter-buttons">
                    <button type="submit" class="filter-btn">Filtrar</button>
                    <a th:href="@{/prizes}" class="filter-btn clear-btn">Limpiar filtros</a>
                </div>
            </div>
        </form>
        <div id="grid-container">
            <section class="game-section prize-item" th:each="item : ${prizes}">
                <h2 class="prize-title" th:text="${item.getTitle()}">Nombre del juego</h2>
                <img th:if="${item.getImage()}" th:src="@{/prize/{id}/image(id=${item.getId()})}" alt="Prize Img" class="prize-image" width="230" height="230">
                <p th:text="${item.getDescription()}">Descripción</p>
                <p class="prize-price" th:text="${item.getPrice()} + ' $'"></p>
                <form th:action="@{/buy/{id}(id=${item.getId()})}" method="post">
                    <button type="submit" class="golden-button">Comprar</button>
                </form>
                <form th:action="@{/editPrize/{id}(id=${item.getId()})}" method="get">
                    <button type="submit" class="golden-button">Editar Recompensa</button>
                </form>
                <form th:action="@{/deletePrize/{id}(id=${item.getId()})}" method="post">
                    <button type="submit" class="golden-button">Eliminar Recompensa</button>
                </form>
            </section>
        </div>
    </main>

    <footer class="footer">
        <p>Copyright &copy; Casino La Miel | Design by Rústico González</p>
    </footer>
</div>
</body>
</html>