<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Online Casino</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.cdnfonts.com/css/casino" rel="stylesheet">
</head>
<body>
<div class="transparent-container">
    <div class="template">
        <div
                tabindex="0"
                class="popup button"
                style="padding:0 0.225rem  0; border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;"
        >
            <div class="popup-header">
                <p
                        style="letter-spacing: 1px; font-weight: 600;   padding: 0.625rem 0rem 0.625rem 0.825rem;"
                        th:text="${user.getUserName()}"
                >
                    User
                </p>

                <img src="/images/casino-chip-sign-card-icon-simple-style-vector.jpg" alt="Foto de perfil" style="height: 32px; width: 32px; border-radius: 50%;">
            </div>

            <div class="popup-main">
                <ul class="list-box">
                    <li class="button item" onclick="location.href='/user'">Mi zona</li>
                    <li class="button item">
                        Saldo: <span th:text="${user.getMoney()}"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <button class="Btn" onclick="location.href='/logout'">

        <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>

        <div class="text">Logout</div>
    </button>
</div>
<div class="gold-text-container">
    <div class="gold-text">
        <h1>Casino La Miel</h1>
    </div>
</div>
<div id="container">
    <nav class="navbar">
        <ul class="menu">
            <li>
                <button role="button" class="golden-button" onclick="location.href='/'">
                    <span class="golden-text">INICIO</span>
                </button>
            </li>
            <li>
                <button role="button" class="golden-button" onclick="location.href='/NGames'">
                    <span class="golden-text">NUESTROS JUEGOS</span>
                </button>
            </li>
            <li>
                <button role="button" class="golden-button" onclick="location.href='/prizes'">
                    <span class="golden-text">RECOMPENSAS</span>
                </button>
            </li>
        </ul>
    </nav>
    <div style="text-align: center;">
        <h1>Bienvenido <span th:text="${user.getUserName()}">Usuario</span>, ¿preparado para apostar?</h1>
    </div>
</div>
<div class="grid2x2">
    <div class="box"><img src="/images/crupier.jpg" alt="Crupier" class="card-image" />
        <div class="card-content">
            <h2 class="card-title">El casino online está aquí!</h2>
            <p class="card-text">Satisface tus ganas de más desde la comodidad de tu sofá! Apuesta el dinero de la pensión de tu madre ya!</p>
        </div>
    </div>
    <div class="box"><img src="/images/neymar.jpg" alt="Neymar" class="card-image" />
        <div class="card-content">
            <h2 class="card-title">Tus ídolos también juegan!</h2>
            <p class="card-text">Puede que neymar nunca ganase un mundial, pero si que es un claro GANADOR cuando se trata de la tricolor.</p>
        </div>
    </div>
    <div class="box"><img src="/images/meci%20y%20cristiano.jpg" alt="Messi-Cristiano" class="card-image" />
        <div class="card-content">
            <h2 class="card-title">Juega de forma justa</h2>
            <p class="card-text">Mepsy y cristiano ahora se dejan el dinero en los brillantes colores de las tragaperras. ¿A qué esperas?</p>
        </div>
    </div>
    <div class="box"><img src="/images/laporta.jpg" alt="Laporta" class="card-image" />
        <div class="card-content">
            <h2 class="card-title">Eres un perdedor?</h2>
            <p class="card-text">En la vida solo hay ganadores o perdedores. La vida solo es una, metele 5 eurillos que mañana tampoco te ibas a acordar (o si!)</p>
        </div>
    </div>
</div>
<footer class="footer">
    <p>Copyright &copy; Casino La Miel | Design by Rústico González</p>
</footer>
</body>
</html>